@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// font-family: 'Lora', serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.125;
  --font-title-reg: "Poppins";
  --font-body-reg: "Lora";
  --font-utility: "Roboto";
  --col-main-dark: #1b435f;
  --col-main-light: #ffc857;
  --col-sec-dark: #481d24;
  --col-sec-light: #e9724c;
  --col-utility: #c5283d;

  font-family: var(--font-utility);

  a {
    color: var(--col-main-dark);
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .align {
    align-items: center;
  }
  .justify {
    justify-content: center;
  }
  .hidden {
    display: none;
  }
  .container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .failing {
    color: #481d24;
    background-color: rgba($color: #e9724c, $alpha: 0.25);
  }
}

body {
  header {
    nav {
      ul {
        justify-content: flex-end;
        li {
          margin: 0rem 1rem;
        }
      }
    }
  }

  main {
    div.form-field {
      padding: 1rem;
    }

    .user-data {
      width: 100%;
      border-collapse: collapse;
      margin: 1rem;
      thead {
        font-size: 1.25rem;
      }
      tbody {
        font-size: 1.25rem;
      }
    }
    th,
    td {
      padding: 1rem;
    }

    th {
      border-bottom: 0.125rem solid #1b435f;
    }

    tr {
      border-bottom: 0.05rem solid rgba($color: #1b435f, $alpha: 0.5);
    }
  }
}
